{% extends "base.html" %}
{% block content %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% include "security/_messages.html" %}
{{ super() }}
<div class="container">
    <br>
    <div class="row border rounded overflow-hidden shadow-sm">
        <div class="col-sm-6">
            <h1>Signup</h1>
        <div class="well">
            <form action="{{ url_for_security('register') }}" method="POST" name="register_user_form">
                {{ register_user_form.hidden_tag() }}
                {{ render_field_with_errors(register_user_form.email) }}
                {{ render_field_with_errors(register_user_form.password) }}
                {% if register_user_form.password_confirm %}
                {{ render_field_with_errors(register_user_form.password_confirm) }}
                {% endif %}
                {{ render_field(register_user_form.submit, class="btn btn-primary") }}
            </form>
            <p>Already signed up? Please <a href="{{ url_for('security.login') }}">login</a>.</p>
        </div>
        </div>
        <div class="col-sm-6">
            <div class="p-4 mb-3 bg-light rounded">
                <h4>About</h4>
                <p>Customize this section to tell your visitors a little bit about your publication, writers, content, or something else entirely. Totally up to you.</p>
            </div>
        </div>
    </div>
    <br>
    {% include "featured.html" %}
</div>
{% endblock content %}



